.container {
  margin: 30px auto;
  background-color: #eee; }
  .container .item {
    padding: 16px; }
    .container .item__1 {
      background-color: red; }
    .container .item__2 {
      background-color: aqua; }
    .container .item__3 {
      background-color: yellowgreen; }
    .container .item__4 {
      background-color: blue; }
    .container .item__5 {
      background-color: green; }
    .container .item__6 {
      background-color: violet; }
    .container .item__7 {
      background-color: indigo; }
    .container .item__8 {
      background-color: skyblue; }
    .container .item__9 {
      background-color: orange; }
